.key{
    padding: 5px;
    font-family: "Tuffy", sans-serif;
    font-weight: 700;
    background: #90ADC6;
    padding: 5px 10px;
    border-radius: 10px;
    min-width: 3rem;
    border: 2px solid black;
}

.content:has(.value) .key {
    border-radius: 10px;
}

.key:empty::before {
    content: attr(data-placeholder);
    display: block;
    height: 100%;
    color: #00000066;
}

.key:focus{
    outline: none;
}

.value{
    font-family: "Tuffy", sans-serif;
    font-weight: 500;
    padding: 5px 10px;
    min-width: 4rem;
}

.value:focus{
    outline: none;
}

.value:empty::before {
    content: attr(data-placeholder);
    display: block;
    height: 100%;
    color: #00000066;
}

.container{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    width: max-content;
}

.addRowButton{
    display: none;
    font-family: "Tuffy", sans-serif;
    font-weight: 700;
    background: #707070;
    padding: 5px 10px;
    border-radius: 10px;
    min-width: 4rem;
    border: 2px solid black;
    margin-left: 30px;
    transition: all 0.3s ease;
}

.row{
    display: flex;
    align-items: center;
}

.content{
    display: flex;
    align-items: center;
    margin: 3px 0;
    padding: 3px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.content.selected {
    border: 2px solid #FAD02C;
    box-shadow: 0 0 3px #FAD02C;
    transition: ease 0.3s;
}

.container:hover .addRowButton,
.container:hover .deleteButton{
    display: flex;
}

.deleteButton {
    display: none;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background: none;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    color: gray;
    transition: ease 0.3s;
}

.deleteButton:hover{
    background: rgba(128, 128, 128, 0.555);
}

.expandButton {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: #FAD02C;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}
.keyNotEditable {
    padding: 5px;
    font-family: "Tuffy", sans-serif;
    font-weight: 700;
    background: #b86a6a;
    padding: 5px 10px;
    border-radius: 10px;
    min-width: 3rem;
    border: 2px solid black;
}

.valueNotEditable {
    font-family: "Tuffy", sans-serif;
    font-weight: 500;
    background: #395a9c;
    padding: 5px 10px;
    border-radius: 0px 10px 10px 0px;
    min-width: 4rem;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}