.key{
    padding: 5px;
    font-family: "Tuffy", sans-serif;
    font-weight: 700;
    background: #333652;
    color: #E9EAEC;
    padding: 5px 10px;
    border-radius: 12px;
    min-width: 3rem;
}

.content:has(.value) .key {
    border-radius: 12px;
}

.key:empty::before {
    content: attr(data-placeholder);
    display: block;
    height: 100%;
    color: #1a1b22;
}

.key:focus{
    outline: none;
}

.value{
    font-family: "Tuffy", sans-serif;
    font-weight: 700;
    padding: 5px 10px;
    min-width: 4rem;
}

.value:focus{
    outline: none;
}

.value:empty::before {
    content: attr(data-placeholder);
    display: block;
    height: 100%;
    color: #00000066;
}

.container{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    width: max-content;
}

.addRowButton{
    display: flex;
    visibility: hidden;
    opacity: 0;
    font-family: "Tuffy", sans-serif;
    font-weight: 700;
    font-size: 24px;
    background: #FAD02C;
    padding: 3px;
    border-radius: 50%;
    border: none;
    margin-left: 5px;
    transition: all 0.2s ease;
}

.addRowButton:hover{
    background: #b8991f;
}

.row{
    display: flex;
    align-items: center;
    position: relative;
    gap: 5px;
}

.content{
    display: flex;
    align-items: center;
    margin: 5px 0px 5px 40px;
    padding: 4px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    cursor: pointer;
}

.content.selected {
    box-shadow: 0 0 3px 2px #FAD02C;
}

.deleteButton {
    visibility: hidden;
    opacity: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background: none;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    color: gray;
    transition: ease 0.3s;
}

.deleteButton:hover{
    background: rgba(128, 128, 128, 0.555);
}

.container:hover .deleteButton,
.container:hover  .addRowButton{
    visibility: visible;
    opacity: 100;
}

.expandButton {
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: #FAD02C;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.expandButton:hover{
    background: #b8991f;   
}

.keyNotEditable {
    padding: 5px;
    font-family: "Tuffy", sans-serif;
    font-weight: 700;
    background: #b86a6a;
    padding: 5px 10px;
    border-radius: 10px;
    min-width: 3rem;
}

.valueNotEditable {
    font-family: "Tuffy", sans-serif;
    font-weight: 700;
    color: #6e6e6e;
    padding: 5px 10px;
    border-radius: 0px 10px 10px 0px;
    min-width: 4rem;
}