.button{
    font-weight: 600;
    padding: 10px;
    border: none;
    background: #FAD02C;
    border-radius: 10px;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap:5px;
    margin: 10px;
}