.button{
  display: flex;
  font-weight: 600;
  padding: 15px;
  border: none;
  background: #FAD02C;
  border-radius: 50%;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap:5px;
}
.controlsContainer {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 60px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 5px;
  background: #ccc;
  border-radius: 50px;
  overflow: scroll;
}

.controlsContainer::-webkit-scrollbar{
  display: none;
}

.buttons {
  display: flex;
  gap: 10px;
}

.toggleLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height:35px;
  width: 35px;
}

.toggled{
  border-radius: 50%;
  background: green;
  padding: 5px;
}

.untoggled{
  border-radius: 50%;
  background: red;
  padding: 5px;
}