*{
    font-family: montserrat;
}
.h1{
    text-align: center;
    color: #bd889a;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    background-color: #efefef;
  }
th{
    background-color: #bd889a;
}
  
th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
.container{
    border: 1px solid black;
    border-radius: 20px;
    width: 50%;
    padding: 40px;
    background-color: #bfd1e5;
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;

}
.button{
    background-color: #bd889a;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: montserrat;
}
td input{
    border: none;
    background-color: #efefef;
}
.json-table input:focus {
    outline: none;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}