.container{
    display: grid;
    grid-template-columns: auto 10%;
    border-radius: 15px;
    box-shadow: black 1px 0px 10px 1px;
    padding: 10px;
    background-color: #333652;
    margin: 10px;
    overflow: hidden;
}
.button{
    background-color: #FAD02C;
    color: #06140f;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
}
.bg{
    display: grid;
    width: 100%;
    height: calc(100vh - 50px);
}