.container{
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    background-color: #90ADC6;
    height: 50px;
}

.buttons{
    display: flex;
    align-items: center;
    gap:5px;
}

.button{
    display: flex;
    height: 30px;
    width: 30px;
    border: none;
    justify-content: center;
    align-items: center;
    background:  none;
}

.title{
    font-family: "Tuffy", sans-serif;
    font-weight: 700;
    text-align: center;
}

.logo {
    min-height: 30px;
    min-width: 30px;
}